<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Resultaten</title>
</head>
<body>
    <h1>Resultaat herdruk-berekening</h1>
    <p>Aantal dagen voorraad: {{ resultaten.dagen_voorraad }}</p>
    <p>Datum wanneer voorraad opraakt: {{ resultaten.voorraad_op_datum }}</p>
    <p>Voorstel voor de hoogte van de oplage: {{ resultaten.voorgestelde_oplage }}</p>
    <p>Datum dat de herdruk moet starten: {{ resultaten.herdruk_start }}</p>
    <a href="/">Terug naar invoer</a>
</body>
</html>